<h1>books index</h1>
<p>Find me in app/views/users/edit.html.erb</p>

<% @books.each do |book| %>
  <h2>
    <%= book.title %>
  </h2>
  <p>
    <%= link_to "yahoo", "https://www.yahoo.co.jp/", target: "_blank" %>
  </p>
  <p>
    <%= link_to("テキストfhojdi", root_path) %>
  </p>
  <p>
    <%= link_to "delete", books_path(book.id), method: :delete %>
  </p>
<% end %>